@model LabWeb1.FactoryGarbageType

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Тип сміття на фабриці </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GarbageType.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GarbageType.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-FactoryId="@ViewBag.IdFactory">Змінити</a> |
    <a asp-action="Index" asp-route-id="@ViewBag.IdFactory">Повернутись</a>
</div>
