@model WebApplication1.FactoryGarbageType

@{
    ViewData["Title"] = "Видалення";
}

<h1>Видалення</h1>

<h3>Ви впевнені, що бажаєтете видалити тип сміття?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGarbageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGarbageTypeNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactoryNavigation.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" value="@ViewBag.IdFactory" name="IdFactory" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-IdFactory="@ViewBag.IdFactory">Повернутись</a>
    </form>
</div>
