@model IEnumerable<WebApplication1.FactoryGarbageType>

@{
    ViewData["Title"] = "Типи сміття";
}

<h3>Типи перероблюваного сміття на фабриці</h3> <h1> @ViewBag.FactoryName</h1>

<p>
    <a asp-action="Create" asp-route-IdFactory="@ViewBag.IdFactory">Додати тип</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdGarbageTypeNavigation.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdGarbageTypeNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-IdFactory="@ViewBag.IdFactory">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-IdFactory="@ViewBag.IdFactory">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-IdFactory="@ViewBag.IdFactory">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
